@model EFCoreFinalApp.Data.Candidates



<h3>Aday Güncelleme Ekranı</h3>
<hr>

<div class="row">
    <div class="job-details-container">
    <div class="col-8">
        <form asp-controller="Candidates" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Surname" class="form-label">Surname
        </label>
            <input asp-for="Surname" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Phone</label>
            <input asp-for="Phone" class="form-control">
        </div>
         <div class="mb-3">
            <label asp-for="ProfileImg" class="form-label">Profile Photo</label>
            <input type="file" asp-for="ProfileImg" class="form-control">
        </div>
        <div>
        <img src="~/uploads/images/@Model.ProfileImg" style=" width: 100px;" alt="">
        <input type="hidden" asp-for="@Model.ProfileImg">
    </div>
        <div class="mb-3">
            <label asp-for="ResumePath" class="form-label">Resume</label>
            <input type="file" asp-for="ResumePath" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="IsOpenToWork" class="form-label">Open to Work</label>
            <input asp-for="IsOpenToWork" type="checkbox" class="form-check-input">
        </div>
        
       
        <button type="submit" class="btn btn-success float-right">Bilgileri Güncelle</button>
        </form>
</div>
</div>

    <div class="col-4">
<div class="job-details-container">
        <h4 style="color: rgb(115, 117, 5); text-align: center;">Başvurularınız</h4>
        <hr>
        @if (Model.JobApply != null && Model.JobApply.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Başvuru Tarihi</th>
                        <th>İş İlanı</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var apply in Model.JobApply)
                    {
                        <tr>
                            <td>@apply.ApplyDate.ToShortDateString()
                            </td>

                            <td>
                                <strong>
                                    <a asp-controller="JobPosting" asp-action="Details" asp-route-id="@apply.JobPostingId">
                                    @apply.JobPosting.Title
                                    </a>
                                </strong>
                            </td>
                            
                            <td>@apply.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Henüz başvuru yapılmamış.</p>
        }
    </div>
    
    </div>


</div>


<style>
    .job-details-container {
        background-color: #ffffff; 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px; 
        padding: 30px; 
        margin: 20px;
        width: 100%; 
        max-width: 600px;
        justify-content: center;
        align-items: flex-start;
    }

    h3 {
        margin-bottom: 20px; 
        text-align: center;
    }
   
    a {
        color: #178306;  
        text-decoration: none; 
    }

    a:hover {
        color: #17830695; 
    }
    .btn-success {
    background-color: rgb(105, 107, 0);
    border-color: #84af0f; 
   }
   .btn-success:hover {
    background-color: rgb(153, 156, 13);
    border-color: #84af0f; 
   }


</style>