@model IEnumerable<EFCoreFinalApp.Data.Candidates>

    <h2>Aday Kayıt Listesi</h2>
    <hr>
<div class="table-container">
    <table class="table table-hover">
    <thead class="table-header">
        <tr>
            <th>@Html.DisplayNameFor(m=>m.ProfileImg)</th>
            <th>@Html.DisplayNameFor(m=>m.Username)</th>
            <th>@Html.DisplayNameFor(m=>m.IsOpenToWork)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var candidate in Model){
            <tr>
                <td>
                    <img src="@candidate.ProfileImg" alt="@candidate.Username" style="width: 50px; height: 50px; border-radius: 50%;" />
                </td>
                <td>@Html.DisplayFor(modelItem => candidate.Username)</td>
                <td>
                    @{
                        var isOpenToWork = candidate.IsOpenToWork;
                    }
                    <strong style="color: @(isOpenToWork ? "green" : "red")">
                        @(isOpenToWork ? "True" : "False")
                    </strong>
                </td>
               
                 <td>
                    <a asp-controller="Candidates" asp-action="Edit" asp-route-id="@candidate.Id"> 
                    <img src="~/img/infocandidate.png" alt="Info Icon" class="info-icon" /> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


<style>
    .info-icon {
        width: 30px;
        height: 30px; 
        transition: transform 0.2s, color 0.2s; 
    }

    .info-icon:hover {
        transform: scale(1.6); 
    }



    
    .table-container {
        margin-bottom: 30px; 
    }

    h2 {
        text-align: center; 
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    hr {
        border: none;
        height: 2px;
        background-color: #ccc;
        margin-bottom: 30px;
    }

    .table {
        width: 100%; 
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 8px;
        overflow: hidden; 
    }

    .table-hover tbody tr:hover {
        background-color: #f9f9f9; 
    }

    .table-header {
        background-color: #859f53; 
        color: white;
        text-align: left;
    }

    th, td {
        padding: 15px 20px;
        text-align: left;
        vertical-align: middle; 
    }
        
</style>