@{
    ViewData["Title"] = "Home Page";
}

 <div class="text-center">

    <a href="@Url.Action("Create", "Candidates")" class="btn btn-primary">Aday Oluştur</a>
     <a href="@Url.Action("Create", "Companies")" class="btn btn-primary">Şirket  Oluştur</a>
     <a href="@Url.Action("Create", "JobPosting")" class="btn btn-primary">İş Postu  Oluştur</a>

</div> 


<div class="container mt-5">
    <div class="row justify-content-center">
        
        <!-- Aday -->
        <div class="col-md-5 d-flex flex-column align-items-center p-4 shadow-sm mx-2 content-box " style="background-color: #849f534b; border-radius: 8px;">
            <h3>Sevgili Adaylar</h3>
            <p>Yeni işler keşfedin ve başvurularınızı yönetin.</p>
            <img src="~/img/source.gif" alt="Candidate Image" class="img-fluid" style="max-width: 200px; margin-bottom: 1rem;" />
            <div class="button-group mx-2">
                <a href="@Url.Action("Login", "Candidates")" class="btn" style="background-color: #c20e0baa; color: white;" ><strong>Giriş Yap</strong></a>
                
                <a href="@Url.Action("Register", "Candidates")" class="btn" style="background-color: #c20e0baa; color: white;" ><strong>Kayıt Ol</strong></a>
            </div>
        </div>

        <!-- Şirketler -->
        <div class="col-md-5 d-flex flex-column align-items-center p-4 shadow-sm mx-2 content-box" style="background-color: #849f534b; border-radius: 8px;">
            <h3>Sevgili Şirketler</h3>
            <p>İş ilanlarınızı yönetin ve yeni adaylar bulun.</p>
            <img src="~/img/company.gif" alt="Company Image" class="img-fluid" style="max-width: 200px; margin-bottom: 1rem;" />
            <div class="button-group">
                <a href="@Url.Action("Login", "Companies")" class="btn " style="background-color: #c20e0baa; color: white;" ><strong>Giriş Yap</strong></a>
                <a href="@Url.Action("Register", "Companies")" class="btn" style="background-color: #c20e0baa; color: white;" ><strong>Hesap Aç</strong></a>
            </div>
        </div>

    </div>
</div>


<style>
    
    .container {
        margin-top: 3rem;
    }

    .shadow-sm {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #f9f9f9;
    }
    
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    .content-box {
        min-height: 400px; 
        max-height: 600px; 
        overflow-y: auto; 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    
    .btn:hover {
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
    }
    .button-group {
    display: flex;
    gap: 2rem; 
    }

    .mx-2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .btn-primary{
        background-color: #859f53;
        border-color: #859f53;
    }
    .btn-primary:hover{
        background-color: #9eb96c;
        border-color: #859f53;
    }
</style>
