@model IEnumerable<EFCoreFinalApp.Data.Companies>

@{
    ViewData["Title"] = "Companies";
}

<h2 class="d-flex align-items-center justify-content-between">
    <span>Companies</span> 
     <div class="d-flex">
        <form asp-action="Index" class="d-flex" method="get">
            <!-- <input type="search" class="form-control me-2" name="searchString" value="@ViewBag.SearchString" placeholder="Anahtar Kelime" style="width: 200px;">

            <button type="submit" class="btn btn-secondary">ARA</button> -->
            <div class="form-group">
                    <select id="industryFilter" name="industryFilter" class="form-control" style="width: 200px; margin-right: 12px;">
                    <option value="">Tüm Sektörler</option>
                    @foreach (var industry in ViewBag.Industry)
                    {
                        if (industry == ViewBag.SelectedIndustry)
                        {
                            <option value="@industry" selected>@industry</option>
                        }
                        else
                        {
                            <option value="@industry">@industry</option>
                        }
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-secondary">Filtrele</button>

        </form>
    </div>
</h2>
 <hr>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m=>m.Logo)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th>@Html.DisplayNameFor(m=>m.Industry)</th>
            <th style="width: 500px;" ></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>
                    <img src="@company.Logo" alt="@company.Name" style="width: 50px; height: 50px; border-radius: 50%;" />
                </td>
                <td> @Html.DisplayFor(modelItem => company.Name)</td>
                <td>@company.Industry</td>
                <td>
                    <a onclick="openPopup(@company.Id)">
                         <img src="~/img/info.png"
                         alt="Info Icon" class="info-icon"
                         />    
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="editPopup" class="modal">
    <div class="modal-content">
        <span class="close text-end" onclick="closePopup()">&times;</span>
        <!-- <h3>Details Company</h3> -->

        <form method="post" id="editForm">
            
            <input type="hidden" id="companyId" name="Id" />
            <div style="text-align: center; margin-bottom: 20px;">
               <h3>
                <strong>
                    <span id="companyName" name="Name"></span>
                </strong>
                </h3>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="~/img/description.png"
                alt="Description Icon" class="icon"/>
                    <span id="companyDescription" name="Description"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="~/img/mail.png"
                alt="Mail Icon" class="icon"/> <span id="companyEmail" name="Email"></span>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="~/img/phone.png"
                alt="Phone Icon" class="icon"/> <span id="companyPhone" name="Phone"></span>
            </div>
            <div style="margin-bottom: 20px;">
                <span id="companyIndustry" name="Industry" class="tag"></span>
            </div>
            <div  class="text-end">
                 <button type="submit" class="btn btn-warning" style="margin-top: 20px;">Açık Pozisyonlar</button>
            </div>
        </form>
    </div>
</div>


<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.9);
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        text-align: left; 
    }
    .tag {
        display: inline-block; 
        padding: 5px 10px; 
        border-radius: 15px; 
        background-color: #e4dbb7;
        color: rgb(0, 0, 0); 
        margin-left: 5px;
    }
    .icon{
        width: 30px;
        height: 30px; 
        margin-right: 8px; 
        vertical-align: middle;
    }
    .info-icon {
        width: 30px; 
        height: 30px; 
        transition: transform 0.2s, color 0.2s; 
    }

    .info-icon:hover {
        transform: scale(1.6);
    }



    .close {
        color: #E4A11B;
        float: right;
        font-size: 44px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>


<script>
    function openPopup(companyId) {
            fetch(`/Companies/GetCompany/${companyId}`)
                .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                 console.log('Company Data:', data); 
                document.getElementById("companyName").textContent = data.name;
                document.getElementById("companyDescription").textContent = data.description;
                document.getElementById("companyEmail").textContent = data.email;
                document.getElementById("companyPhone").textContent = data.phone;
                document.getElementById("companyIndustry").textContent = data.industry;
            })
            .catch(error => console.error('There was a problem with the fetch operation:', error));

        document.getElementById("editPopup").style.display = "block";
    }

    function closePopup() {
        document.getElementById("editPopup").style.display = "none";
    }
</script>
